<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.LineSoftwareRoutesPhoto.uploadingTask</string>
	</array>
	<key>BUNDLE_ID</key>
	<string>com.LineSoftwareRoutesPhoto.RoutesPhoto</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>msauth.com.LineSoftwareRoutesPhoto.RoutesPhoto</string>
				<string>db-5sfk3cxab4pxfn3</string>
				<string>com.googleusercontent.apps.404946805984-u3qoeistivac48544dta6q4qf78i6pt4</string>
			</array>
		</dict>
	</array>
	<key>CLIENT_ID</key>
	<string>404946805984-u3qoeistivac48544dta6q4qf78i6pt4.apps.googleusercontent.com</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>msauthv2</string>
		<string>msauthv3</string>
		<string>dbapi-8-emm</string>
		<string>dbapi-2</string>
	</array>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.404946805984-u3qoeistivac48544dta6q4qf78i6pt4</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
